# Import and environment preparation

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

import html
from urllib.parse import unquote

from google.cloud import translate

import time

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
!cat '/content/TA Question Generator-1c1bef1dd25f.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/content/TA Question Generator-1c1bef1dd25f.json'
!echo $GOOGLE_APPLICATION_CREDENTIALS

# Data load and cleaning

In [3]:
SQUAD_DATASET_PATH = 'Datasets/SQuAD/v2.0/train-v2.0-translated.json'

df_squad = pd.read_json(SQUAD_DATASET_PATH)
df_squad = df_squad.drop(columns=['version'])
print(df_squad.shape)
df_squad.head()

(442, 1)

                                                data
0  {'title': 'Beyoncé', 'paragraphs': [{'qas': [{...
1  {'title': 'Frédéric_Chopin', 'paragraphs': [{'...
2  {'title': 'Sino-Tibetan_relations_during_the_M...
3  {'title': 'IPod', 'paragraphs': [{'qas': [{'qu...
4  {'title': 'The_Legend_of_Zelda:_Twilight_Princ...

In [ ]:
for key in df_squad['data'][0].keys():
    print(key)

title
paragraphs

In [4]:
df_squad['title'] = df_squad['data'].apply(lambda x: x.get('title'))
df_squad['paragraphs'] = df_squad['data'].apply(lambda x: x.get('paragraphs'))
df_squad.drop(columns=['data'], inplace=True)
df_squad.head()

,title,paragraphs
0,Beyoncé,[{'qas': [{'question': 'When did Beyonce start...
1,Frédéric_Chopin,"[{'qas': [{'question': ""What was Frédéric's na..."
2,Sino-Tibetan_relations_during_the_Ming_dynasty,[{'qas': [{'question': 'Who were Wang Jiawei a...
3,IPod,[{'qas': [{'question': 'Which company produces...
4,The_Legend_of_Zelda:_Twilight_Princess,[{'qas': [{'question': 'What category of game ...

In [5]:
def replace_underscore_with_space(text):
      return text.replace('_', ' ')

df_squad['title'] = df_squad['title'].apply(unquote)
df_squad['title'] = df_squad['title'].apply(replace_underscore_with_space)
# for title in df_squad.title:
  # print(title)

df_squad['paragraphs'] = df_squad['paragraphs'].apply(html.unescape)
# df_squad['paragraphs']

In [ ]:
chosen_idx = 0
paragraphs = df_squad['paragraphs'][chosen_idx]
print(f"Total paragraph of paragraphs[{chosen_idx}]: {len(paragraphs)}")

chosen_paragraph_idx = 0
paragraph = paragraphs[chosen_paragraph_idx]
print()
print('Key(s) of paragraph:')
for key in paragraph:
    print(f'   {key}')

print()
print(f"Length of qas: {len(paragraph['qas'])}. Element(s):")
for key in paragraph['qas']:
    print(f'   {key}')
    
print()
print('Paragraph\'s context is:')
print(paragraph['context'])

Total paragraph of paragraphs[0]: 66

Key(s) of paragraph:
   qas
   context

Length of qas: 15. Element(s):
   {'question': 'Kapan Beyonce mulai menjadi populer?', 'id': '56be85543aeaaa14008c9063', 'answers': [{'text': 'pada akhir 1990-an', 'answer_start': 269}], 'is_impossible': False}
   {'question': 'Di area apa Beyonce berkompetisi ketika dia tumbuh dewasa?', 'id': '56be85543aeaaa14008c9065', 'answers': [{'text': 'bernyanyi dan menari', 'answer_start': 207}], 'is_impossible': False}
   {'question': 'Kapan Beyonce meninggalkan Destiny&#39;s Child dan menjadi penyanyi solo?', 'id': '56be85543aeaaa14008c9066', 'answers': [{'text': '2003', 'answer_start': 526}], 'is_impossible': False}
   {'question': 'Di kota dan negara bagian mana Beyonce tumbuh?', 'id': '56bf6b0f3aeaaa14008c9601', 'answers': [{'text': 'Houston, Texas', 'answer_start': 166}], 'is_impossible': False}
   {'question': 'Di dekade mana Beyonce menjadi terkenal?', 'id': '56bf6b0f3aeaaa14008c9602', 'answers': [{'text': 'akhir 1990-an', 'answer_start': 276}], 'is_impossible': False}
   {'question': 'Di grup R&amp;B apa dia menjadi penyanyi utama?', 'id': '56bf6b0f3aeaaa14008c9603', 'answers': [{'text': 'Destiny&#39;s Child', 'answer_start': 320}], 'is_impossible': False}
   {'question': 'Album apa yang membuatnya menjadi artis terkenal di seluruh dunia?', 'id': '56bf6b0f3aeaaa14008c9604', 'answers': [{'text': 'Berbahaya dalam Cinta', 'answer_start': 505}], 'is_impossible': False}
   {'question': 'Siapa yang mengelola grup Destiny&#39;s Child?', 'id': '56bf6b0f3aeaaa14008c9605', 'answers': [{'text': 'Mathew Knowles', 'answer_start': 360}], 'is_impossible': False}
   {'question': 'Kapan Beyonce menjadi terkenal?', 'id': '56d43c5f2ccc5a1400d830a9', 'answers': [{'text': 'akhir 1990-an', 'answer_start': 276}], 'is_impossible': False}
   {'question': 'Apa peran Beyoncé dalam Destiny&#39;s Child?', 'id': '56d43c5f2ccc5a1400d830aa', 'answers': [{'text': 'penyanyi utama', 'answer_start': 290}], 'is_impossible': False}
   {'question': 'Apa album pertama yang dirilis Beyonce sebagai artis solo?', 'id': '56d43c5f2ccc5a1400d830ab', 'answers': [{'text': 'Berbahaya dalam Cinta', 'answer_start': 505}], 'is_impossible': False}
   {'question': 'Kapan Beyonce merilis Dangerously in Love?', 'id': '56d43c5f2ccc5a1400d830ac', 'answers': [{'text': '2003', 'answer_start': 526}], 'is_impossible': False}
   {'question': 'Berapa banyak penghargaan Grammy yang Beyonce menangkan untuk album solo pertamanya?', 'id': '56d43c5f2ccc5a1400d830ad', 'answers': [{'text': 'lima', 'answer_start': 590}], 'is_impossible': False}
   {'question': 'Apa peran Beyonce dalam Destiny&#39;s Child?', 'id': '56d43ce42ccc5a1400d830b4', 'answers': [{'text': 'penyanyi utama', 'answer_start': 290}], 'is_impossible': False}
   {'question': 'Apa nama album solo pertama Beyoncé?', 'id': '56d43ce42ccc5a1400d830b5', 'answers': [{'text': 'Berbahaya dalam Cinta', 'answer_start': 505}], 'is_impossible': False}

Paragraph's context is:
Beyoncé Giselle Knowles-Carter (/ biːˈjɒnseɪ / bee-YON-say) (lahir 4 September 1981) adalah penyanyi, penulis lagu, produser dan aktris rekaman Amerika. Dilahirkan dan dibesarkan di Houston, Texas, ia tampil di berbagai kompetisi menyanyi dan menari sebagai seorang anak, dan mulai terkenal pada akhir 1990-an sebagai penyanyi utama grup gadis R&amp;B Destiny&#39;s Child. Dikelola oleh ayahnya, Mathew Knowles, kelompok ini menjadi salah satu kelompok gadis terlaris di dunia sepanjang masa. Hiatus mereka melihat rilis album debut Beyoncé, Dangerously in Love (2003), yang menetapkan dia sebagai artis solo di seluruh dunia, memperoleh lima Grammy Awards dan menampilkan Billboard Hot 100 nomor satu single &quot;Crazy in Love&quot; dan &quot;Baby Boy&quot; .

## Deep reading one of the data

In [ ]:
df_chopin = df_squad.loc[df_squad.title == 'Frédéric_Chopin']
df_chopin

             title                                         paragraphs
1  Frédéric_Chopin  [{'qas': [{'question': "What was Frédéric's na...

In [ ]:
chopin_context_0 = df_chopin['paragraphs'].iloc[0][0]['context']
df_chopin_context_0 = pd.DataFrame(df_chopin['paragraphs'].iloc[0][0]['qas'])
df_chopin_context_0.drop(columns=['id', 'is_impossible'], inplace=True)
df_chopin_context_0['answers'] = df_chopin_context_0['answers'].apply(lambda x: x[0]['text'])
print(chopin_context_0)
df_chopin_context_0

Frédéric François Chopin (/ˈʃoʊpæn/; French pronunciation: ​[fʁe.de.ʁik fʁɑ̃.swa ʃɔ.pɛ̃]; 22 February or 1 March 1810 – 17 October 1849), born Fryderyk Franciszek Chopin,[n 1] was a Polish and French (by citizenship and birth of father) composer and a virtuoso pianist of the Romantic era, who wrote primarily for the solo piano. He gained and has maintained renown worldwide as one of the leading musicians of his era, whose "poetic genius was based on a professional technique that was without equal in his generation." Chopin was born in what was then the Duchy of Warsaw, and grew up in Warsaw, which after 1815 became part of Congress Poland. A child prodigy, he completed his musical education and composed his earlier works in Warsaw before leaving Poland at the age of 20, less than a month before the outbreak of the November 1830 Uprising.

                                             question                     answers
0                  What was Frédéric's nationalities?           Polish and French
1                 In what era was Frédéric active in?                Romantic era
2   For what instrument did Frédéric write primari...                  solo piano
3                  In what area was Frédéric born in?             Duchy of Warsaw
4        At what age did Frédéric depart from Poland?                          20
5                          What year was Chopin born?                        1810
6                  What era was Chopin active during?                Romantic era
7                           Where did Chopin grow up?                      Warsaw
8          What instrument did he mostly compose for?                  solo piano
9               At what age did Chopin  leave Poland?                          20
10                               When did Chopin die?             17 October 1849
11                       What was Chopin's full name?  Fryderyk Franciszek Chopin
12  The majority of Chopin's compositions were for...                  solo piano
13                 Chopin was active during what era?                Romantic era
14                      In what year was Chopin born?                        1810
15           In what city was Chopin born and raised?                      Warsaw
16            How old was Chopin when he left Poland?                          20
17           In what era of music did Chopin compose?                    Romantic
18                          What year did Chopin die?                        1849

# Translate

In [ ]:
client = translate.Client()
def translate_to_id(text):
    return html.unescape(client.translate(text, 'id')['translatedText'])

In [ ]:
df_chopin_context_0['question'] = df_chopin_context_0['question'].apply(translate_to_id)
df_chopin_context_0['answers'] = df_chopin_context_0['answers'].apply(translate_to_id)
df_chopin_context_0

In [ ]:
df_squad_translated = df_squad.copy()

In [ ]:
df_squad_translated['title'] = df_squad_translated['title'].apply(translate_to_id)
df_squad_translated

                                           title                                         paragraphs
0                                        Beyonce  [{'qas': [{'question': 'When did Beyonce start...
1                                Frédéric Chopin  [{'qas': [{'question': "What was Frédéric's na...
2    Hubungan Tiongkok-Tibet selama dinasti Ming  [{'qas': [{'question': 'Who were Wang Jiawei a...
3                                           IPod  [{'qas': [{'question': 'Which company produces...
4         The Legend of Zelda: Twilight Princess  [{'qas': [{'question': 'What category of game ...
..                                           ...                                                ...
437                                      Infeksi  [{'qas': [{'question': 'Of the huge amount of ...
438                                      Berburu  [{'qas': [{'question': 'What is the practice o...
439                                    Kathmandu  [{'qas': [{'question': 'What country is Kathma...
440                               Infark miokard  [{'qas': [{'plausible_answers': [{'text': 'Myo...
441                                      Masalah  [{'qas': [{'plausible_answers': [{'text': 'ord...

[442 rows x 2 columns]

In [ ]:
TRANSLATED_IDX = 255

i = -1
for topic in df_squad_translated['paragraphs']:
    i += 1
    print(f'Now translating {i}')
    if i < TRANSLATED_IDX:
    print('Translated. Skipping...')
    continue
    for paragraphs in topic:
    for qas in paragraphs['qas']:
        try:
            qas['question'] = translate_to_id(qas['question'])
        except:
            time.sleep(100)
            qas['question'] = translate_to_id(qas['question'])
            print('Limit exceeded.. Sleeping for 100 seconds...')
        for answer in qas['answers']:
        try:
            answer['text'] = translate_to_id(answer['text'])
        except:
            time.sleep(100)
            answer['text'] = translate_to_id(answer['text'])
            print('Limit exceeded.. Sleeping for 100 seconds...')
        # print(qas)
    try:
        paragraphs['context'] = translate_to_id(paragraphs['context'])
    except:
        time.sleep(100)
        paragraphs['context'] = translate_to_id(paragraphs['context'])
        print('Limit exceeded.. Sleeping for 100 seconds...')
        # print(context)

Now translating 0
Translated. Skipping...
Now translating 1
Translated. Skipping...
Now translating 2
Translated. Skipping...
Now translating 3
Translated. Skipping...
Now translating 4
Translated. Skipping...
Now translating 5
Translated. Skipping...
Now translating 6
Translated. Skipping...
Now translating 7
Translated. Skipping...
Now translating 8
Translated. Skipping...
Now translating 9
Translated. Skipping...
Now translating 10
Translated. Skipping...
Now translating 11
Translated. Skipping...
Now translating 12
Translated. Skipping...
Now translating 13
Translated. Skipping...
Now translating 14
Translated. Skipping...
Now translating 15
Translated. Skipping...
Now translating 16
Translated. Skipping...
Now translating 17
Translated. Skipping...
Now translating 18
Translated. Skipping...
Now translating 19
Translated. Skipping...
Now translating 20
Translated. Skipping...
Now translating 21
Translated. Skipping...
Now translating 22
Translated. Skipping...
Now translating 23
Translated. Skipping...
Now translating 24
Translated. Skipping...
Now translating 25
Translated. Skipping...
Now translating 26
Translated. Skipping...
Now translating 27
Translated. Skipping...
Now translating 28
Translated. Skipping...
Now translating 29
Translated. Skipping...
Now translating 30
Translated. Skipping...
Now translating 31
Translated. Skipping...
Now translating 32
Translated. Skipping...
Now translating 33
Translated. Skipping...
Now translating 34
Translated. Skipping...
Now translating 35
Translated. Skipping...
Now translating 36
Translated. Skipping...
Now translating 37
Translated. Skipping...
Now translating 38
Translated. Skipping...
Now translating 39
Translated. Skipping...
Now translating 40
Translated. Skipping...
Now translating 41
Translated. Skipping...
Now translating 42
Translated. Skipping...
Now translating 43
Translated. Skipping...
Now translating 44
Translated. Skipping...
Now translating 45
Translated. Skipping...
Now translating 46
Translated. Skipping...
Now translating 47
Translated. Skipping...
Now translating 48
Translated. Skipping...
Now translating 49
Translated. Skipping...
Now translating 50
Translated. Skipping...
Now translating 51
Translated. Skipping...
Now translating 52
Translated. Skipping...
Now translating 53
Translated. Skipping...
Now translating 54
Translated. Skipping...
Now translating 55
Translated. Skipping...
Now translating 56
Translated. Skipping...
Now translating 57
Translated. Skipping...
Now translating 58
Translated. Skipping...
Now translating 59
Translated. Skipping...
Now translating 60
Translated. Skipping...
Now translating 61
Translated. Skipping...
Now translating 62
Translated. Skipping...
Now translating 63
Translated. Skipping...
Now translating 64
Translated. Skipping...
Now translating 65
Translated. Skipping...
Now translating 66
Translated. Skipping...
Now translating 67
Translated. Skipping...
Now translating 68
Translated. Skipping...
Now translating 69
Translated. Skipping...
Now translating 70
Translated. Skipping...
Now translating 71
Translated. Skipping...
Now translating 72
Translated. Skipping...
Now translating 73
Translated. Skipping...
Now translating 74
Translated. Skipping...
Now translating 75
Translated. Skipping...
Now translating 76
Translated. Skipping...
Now translating 77
Translated. Skipping...
Now translating 78
Translated. Skipping...
Now translating 79
Translated. Skipping...
Now translating 80
Translated. Skipping...
Now translating 81
Translated. Skipping...
Now translating 82
Translated. Skipping...
Now translating 83
Translated. Skipping...
Now translating 84
Translated. Skipping...
Now translating 85
Translated. Skipping...
Now translating 86
Translated. Skipping...
Now translating 87
Translated. Skipping...
Now translating 88
Translated. Skipping...
Now translating 89
Translated. Skipping...
Now translating 90
Translated. Skipping...
Now translating 91
Translated. Skipping...
Now translating 92
Translated. Skipping...
Now translating 93
Translated. Skipping...
Now translating 94
Translated. Skipping...
Now translating 95
Translated. Skipping...
Now translating 96
Translated. Skipping...
Now translating 97
Translated. Skipping...
Now translating 98
Translated. Skipping...
Now translating 99
Translated. Skipping...
Now translating 100
Translated. Skipping...
Now translating 101
Translated. Skipping...
Now translating 102
Translated. Skipping...
Now translating 103
Translated. Skipping...
Now translating 104
Translated. Skipping...
Now translating 105
Translated. Skipping...
Now translating 106
Translated. Skipping...
Now translating 107
Translated. Skipping...
Now translating 108
Translated. Skipping...
Now translating 109
Translated. Skipping...
Now translating 110
Translated. Skipping...
Now translating 111
Translated. Skipping...
Now translating 112
Translated. Skipping...
Now translating 113
Translated. Skipping...
Now translating 114
Translated. Skipping...
Now translating 115
Translated. Skipping...
Now translating 116
Translated. Skipping...
Now translating 117
Translated. Skipping...
Now translating 118
Translated. Skipping...
Now translating 119
Translated. Skipping...
Now translating 120
Translated. Skipping...
Now translating 121
Translated. Skipping...
Now translating 122
Translated. Skipping...
Now translating 123
Translated. Skipping...
Now translating 124
Translated. Skipping...
Now translating 125
Translated. Skipping...
Now translating 126
Translated. Skipping...
Now translating 127
Translated. Skipping...
Now translating 128
Translated. Skipping...
Now translating 129
Translated. Skipping...
Now translating 130
Translated. Skipping...
Now translating 131
Translated. Skipping...
Now translating 132
Translated. Skipping...
Now translating 133
Translated. Skipping...
Now translating 134
Translated. Skipping...
Now translating 135
Translated. Skipping...
Now translating 136
Translated. Skipping...
Now translating 137
Translated. Skipping...
Now translating 138
Translated. Skipping...
Now translating 139
Translated. Skipping...
Now translating 140
Translated. Skipping...
Now translating 141
Translated. Skipping...
Now translating 142
Translated. Skipping...
Now translating 143
Translated. Skipping...
Now translating 144
Translated. Skipping...
Now translating 145
Translated. Skipping...
Now translating 146
Translated. Skipping...
Now translating 147
Translated. Skipping...
Now translating 148
Translated. Skipping...
Now translating 149
Translated. Skipping...
Now translating 150
Translated. Skipping...
Now translating 151
Translated. Skipping...
Now translating 152
Translated. Skipping...
Now translating 153
Translated. Skipping...
Now translating 154
Translated. Skipping...
Now translating 155
Translated. Skipping...
Now translating 156
Translated. Skipping...
Now translating 157
Translated. Skipping...
Now translating 158
Translated. Skipping...
Now translating 159
Translated. Skipping...
Now translating 160
Translated. Skipping...
Now translating 161
Translated. Skipping...
Now translating 162
Translated. Skipping...
Now translating 163
Translated. Skipping...
Now translating 164
Translated. Skipping...
Now translating 165
Translated. Skipping...
Now translating 166
Translated. Skipping...
Now translating 167
Translated. Skipping...
Now translating 168
Translated. Skipping...
Now translating 169
Translated. Skipping...
Now translating 170
Translated. Skipping...
Now translating 171
Translated. Skipping...
Now translating 172
Translated. Skipping...
Now translating 173
Translated. Skipping...
Now translating 174
Translated. Skipping...
Now translating 175
Translated. Skipping...
Now translating 176
Translated. Skipping...
Now translating 177
Translated. Skipping...
Now translating 178
Translated. Skipping...
Now translating 179
Translated. Skipping...
Now translating 180
Translated. Skipping...
Now translating 181
Translated. Skipping...
Now translating 182
Translated. Skipping...
Now translating 183
Translated. Skipping...
Now translating 184
Translated. Skipping...
Now translating 185
Translated. Skipping...
Now translating 186
Translated. Skipping...
Now translating 187
Translated. Skipping...
Now translating 188
Translated. Skipping...
Now translating 189
Translated. Skipping...
Now translating 190
Translated. Skipping...
Now translating 191
Translated. Skipping...
Now translating 192
Translated. Skipping...
Now translating 193
Translated. Skipping...
Now translating 194
Translated. Skipping...
Now translating 195
Translated. Skipping...
Now translating 196
Translated. Skipping...
Now translating 197
Translated. Skipping...
Now translating 198
Translated. Skipping...
Now translating 199
Translated. Skipping...
Now translating 200
Translated. Skipping...
Now translating 201
Translated. Skipping...
Now translating 202
Translated. Skipping...
Now translating 203
Translated. Skipping...
Now translating 204
Translated. Skipping...
Now translating 205
Translated. Skipping...
Now translating 206
Translated. Skipping...
Now translating 207
Translated. Skipping...
Now translating 208
Translated. Skipping...
Now translating 209
Translated. Skipping...
Now translating 210
Translated. Skipping...
Now translating 211
Translated. Skipping...
Now translating 212
Translated. Skipping...
Now translating 213
Translated. Skipping...
Now translating 214
Translated. Skipping...
Now translating 215
Translated. Skipping...
Now translating 216
Translated. Skipping...
Now translating 217
Translated. Skipping...
Now translating 218
Translated. Skipping...
Now translating 219
Translated. Skipping...
Now translating 220
Translated. Skipping...
Now translating 221
Translated. Skipping...
Now translating 222
Translated. Skipping...
Now translating 223
Translated. Skipping...
Now translating 224
Translated. Skipping...
Now translating 225
Translated. Skipping...
Now translating 226
Translated. Skipping...
Now translating 227
Translated. Skipping...
Now translating 228
Translated. Skipping...
Now translating 229
Translated. Skipping...
Now translating 230
Translated. Skipping...
Now translating 231
Translated. Skipping...
Now translating 232
Translated. Skipping...
Now translating 233
Translated. Skipping...
Now translating 234
Translated. Skipping...
Now translating 235
Translated. Skipping...
Now translating 236
Translated. Skipping...
Now translating 237
Translated. Skipping...
Now translating 238
Translated. Skipping...
Now translating 239
Translated. Skipping...
Now translating 240
Translated. Skipping...
Now translating 241
Translated. Skipping...
Now translating 242
Translated. Skipping...
Now translating 243
Translated. Skipping...
Now translating 244
Translated. Skipping...
Now translating 245
Translated. Skipping...
Now translating 246
Translated. Skipping...
Now translating 247
Translated. Skipping...
Now translating 248
Translated. Skipping...
Now translating 249
Translated. Skipping...
Now translating 250
Translated. Skipping...
Now translating 251
Translated. Skipping...
Now translating 252
Translated. Skipping...
Now translating 253
Translated. Skipping...
Now translating 254
Translated. Skipping...
Now translating 255
Now translating 256
Now translating 257
Limit exceeded.. Sleeping for 100 seconds...
Now translating 258
Limit exceeded.. Sleeping for 100 seconds...
Now translating 259
Now translating 260
Now translating 261
Now translating 262
Limit exceeded.. Sleeping for 100 seconds...
Now translating 263
Now translating 264
Limit exceeded.. Sleeping for 100 seconds...
Now translating 265
Now translating 266
Limit exceeded.. Sleeping for 100 seconds...
Now translating 267
Now translating 268
Now translating 269
Now translating 270
Now translating 271
Now translating 272
Limit exceeded.. Sleeping for 100 seconds...
Now translating 273
Now translating 274
Limit exceeded.. Sleeping for 100 seconds...
Now translating 275
Limit exceeded.. Sleeping for 100 seconds...
Now translating 276
Now translating 277
Now translating 278
Limit exceeded.. Sleeping for 100 seconds...
Now translating 279
Now translating 280
Now translating 281
Now translating 282
Limit exceeded.. Sleeping for 100 seconds...
Now translating 283
Now translating 284
Limit exceeded.. Sleeping for 100 seconds...
Now translating 285
Limit exceeded.. Sleeping for 100 seconds...
Now translating 286
Now translating 287
Now translating 288
Now translating 289
Now translating 290
Now translating 291
Limit exceeded.. Sleeping for 100 seconds...
Now translating 292
Now translating 293
Limit exceeded.. Sleeping for 100 seconds...
Now translating 294
Now translating 295
Now translating 296
Now translating 297
Now translating 298
Limit exceeded.. Sleeping for 100 seconds...
Now translating 299
Now translating 300
Now translating 301
Now translating 302
Now translating 303
Limit exceeded.. Sleeping for 100 seconds...
Now translating 304
Now translating 305
Limit exceeded.. Sleeping for 100 seconds...

In [ ]:
df_squad_translated.to_json('Datasets/SQuAD/v2.0/train-v2.0-translated.json')

In [8]:
translator = Translator.translator(src='en', dest='id')

In [23]:
df_squad_translated = pd.read_json('Datasets/SQuAD/v2.0/train-v2.0-translated.json')
print(df_squad['paragraphs'][0][0]['qas'][-2]['question'])
print(df_squad_translated['paragraphs'][0][0]['qas'][-2]['question'])

What was Beyoncé's role in Destiny's Child?
Apa peran Beyonce dalam Destiny's Child?

In [17]:
df_squad['paragraphs'][topic_idx][context_idx]['qas'][0]

{'question': 'At what age did Frédéric move to Paris?',
 'id': '56cbd2f96d243a140015ed70',
 'answers': [{'text': '21', 'answer_start': 14}],
 'is_impossible': False}