# Import and environment preparation

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

import html
from urllib.parse import unquote

import time

In [17]:
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '../api_key/TA Question Generator-1c1bef1dd25f.json'
print(os.environ['GOOGLE_APPLICATION_CREDENTIALS'])

./api_key/TA Question Generator-1c1bef1dd25f.json

# Data load and cleaning

In [140]:
SQUAD_DATASET_PATH = '../data/raw/SQuAD/v2.0/train-v2.0.json'
SQUAD_DEV_DATASET_PATH = '../data/raw/SQuAD/v2.0/dev-v2.0.json'

# df_squad = pd.read_json(SQUAD_DATASET_PATH)
# df_squad = df_squad.drop(columns=['version'])
# print(df_squad.shape)
# print(df_squad.head())

df_squad_dev = pd.read_json(SQUAD_DEV_DATASET_PATH)
df_squad_dev = df_squad_dev.drop(columns=['version'])
print(df_squad_dev.shape)
df_squad_dev.head()

(35, 1)

                                                data
0  {'title': 'Normans', 'paragraphs': [{'qas': [{...
1  {'title': 'Computational_complexity_theory', '...
2  {'title': 'Southern_California', 'paragraphs':...
3  {'title': 'Sky_(United_Kingdom)', 'paragraphs'...
4  {'title': 'Victoria_(Australia)', 'paragraphs'...

In [ ]:
for key in df_squad['data'][0].keys():
    print(key)

title
paragraphs

In [141]:
# df_squad['title'] = df_squad['data'].apply(lambda x: x.get('title'))
# df_squad['paragraphs'] = df_squad['data'].apply(lambda x: x.get('paragraphs'))
# df_squad.drop(columns=['data'], inplace=True)
# print(df_squad.head())

df_squad_dev['title'] = df_squad_dev['data'].apply(lambda x: x.get('title'))
df_squad_dev['paragraphs'] = df_squad_dev['data'].apply(lambda x: x.get('paragraphs'))
df_squad_dev.drop(columns=['data'], inplace=True)
df_squad_dev.head()

,title,paragraphs
0,Normans,[{'qas': [{'question': 'In what country is Nor...
1,Computational_complexity_theory,[{'qas': [{'question': 'What branch of theoret...
2,Southern_California,[{'qas': [{'question': 'What is Southern Calif...
3,Sky_(United_Kingdom),[{'qas': [{'question': 'What company was forme...
4,Victoria_(Australia),[{'qas': [{'question': 'What kind of economy d...

In [ ]:
def replace_underscore_with_space(text):
      return text.replace('_', ' ')

df_squad['title'] = df_squad['title'].apply(unquote)
df_squad['title'] = df_squad['title'].apply(replace_underscore_with_space)
df_squad['paragraphs'] = df_squad['paragraphs'].apply(html.unescape)

df_squad_dev['title'] = df_squad_dev['title'].apply(unquote)
df_squad_dev['title'] = df_squad_dev['title'].apply(replace_underscore_with_space)
df_squad_dev['paragraphs'] = df_squad_dev['paragraphs'].apply(html.unescape)

In [ ]:
chosen_idx = 0
paragraphs = df_squad['paragraphs'][chosen_idx]
print(f"Total paragraph of paragraphs[{chosen_idx}]: {len(paragraphs)}")

chosen_paragraph_idx = 0
paragraph = paragraphs[chosen_paragraph_idx]
print()
print('Key(s) of paragraph:')
for key in paragraph:
    print(f'   {key}')

print()
print(f"Length of qas: {len(paragraph['qas'])}. Element(s):")
for key in paragraph['qas']:
    print(f'   {key}')
    
print()
print('Paragraph\'s context is:')
print(paragraph['context'])

Total paragraph of paragraphs[0]: 66

Key(s) of paragraph:
   qas
   context

Length of qas: 15. Element(s):
   {'question': 'Kapan Beyonce mulai menjadi populer?', 'id': '56be85543aeaaa14008c9063', 'answers': [{'text': 'pada akhir 1990-an', 'answer_start': 269}], 'is_impossible': False}
   {'question': 'Di area apa Beyonce berkompetisi ketika dia tumbuh dewasa?', 'id': '56be85543aeaaa14008c9065', 'answers': [{'text': 'bernyanyi dan menari', 'answer_start': 207}], 'is_impossible': False}
   {'question': 'Kapan Beyonce meninggalkan Destiny&#39;s Child dan menjadi penyanyi solo?', 'id': '56be85543aeaaa14008c9066', 'answers': [{'text': '2003', 'answer_start': 526}], 'is_impossible': False}
   {'question': 'Di kota dan negara bagian mana Beyonce tumbuh?', 'id': '56bf6b0f3aeaaa14008c9601', 'answers': [{'text': 'Houston, Texas', 'answer_start': 166}], 'is_impossible': False}
   {'question': 'Di dekade mana Beyonce menjadi terkenal?', 'id': '56bf6b0f3aeaaa14008c9602', 'answers': [{'text': 'akhir 1990-an', 'answer_start': 276}], 'is_impossible': False}
   {'question': 'Di grup R&amp;B apa dia menjadi penyanyi utama?', 'id': '56bf6b0f3aeaaa14008c9603', 'answers': [{'text': 'Destiny&#39;s Child', 'answer_start': 320}], 'is_impossible': False}
   {'question': 'Album apa yang membuatnya menjadi artis terkenal di seluruh dunia?', 'id': '56bf6b0f3aeaaa14008c9604', 'answers': [{'text': 'Berbahaya dalam Cinta', 'answer_start': 505}], 'is_impossible': False}
   {'question': 'Siapa yang mengelola grup Destiny&#39;s Child?', 'id': '56bf6b0f3aeaaa14008c9605', 'answers': [{'text': 'Mathew Knowles', 'answer_start': 360}], 'is_impossible': False}
   {'question': 'Kapan Beyonce menjadi terkenal?', 'id': '56d43c5f2ccc5a1400d830a9', 'answers': [{'text': 'akhir 1990-an', 'answer_start': 276}], 'is_impossible': False}
   {'question': 'Apa peran Beyoncé dalam Destiny&#39;s Child?', 'id': '56d43c5f2ccc5a1400d830aa', 'answers': [{'text': 'penyanyi utama', 'answer_start': 290}], 'is_impossible': False}
   {'question': 'Apa album pertama yang dirilis Beyonce sebagai artis solo?', 'id': '56d43c5f2ccc5a1400d830ab', 'answers': [{'text': 'Berbahaya dalam Cinta', 'answer_start': 505}], 'is_impossible': False}
   {'question': 'Kapan Beyonce merilis Dangerously in Love?', 'id': '56d43c5f2ccc5a1400d830ac', 'answers': [{'text': '2003', 'answer_start': 526}], 'is_impossible': False}
   {'question': 'Berapa banyak penghargaan Grammy yang Beyonce menangkan untuk album solo pertamanya?', 'id': '56d43c5f2ccc5a1400d830ad', 'answers': [{'text': 'lima', 'answer_start': 590}], 'is_impossible': False}
   {'question': 'Apa peran Beyonce dalam Destiny&#39;s Child?', 'id': '56d43ce42ccc5a1400d830b4', 'answers': [{'text': 'penyanyi utama', 'answer_start': 290}], 'is_impossible': False}
   {'question': 'Apa nama album solo pertama Beyoncé?', 'id': '56d43ce42ccc5a1400d830b5', 'answers': [{'text': 'Berbahaya dalam Cinta', 'answer_start': 505}], 'is_impossible': False}

Paragraph's context is:
Beyoncé Giselle Knowles-Carter (/ biːˈjɒnseɪ / bee-YON-say) (lahir 4 September 1981) adalah penyanyi, penulis lagu, produser dan aktris rekaman Amerika. Dilahirkan dan dibesarkan di Houston, Texas, ia tampil di berbagai kompetisi menyanyi dan menari sebagai seorang anak, dan mulai terkenal pada akhir 1990-an sebagai penyanyi utama grup gadis R&amp;B Destiny&#39;s Child. Dikelola oleh ayahnya, Mathew Knowles, kelompok ini menjadi salah satu kelompok gadis terlaris di dunia sepanjang masa. Hiatus mereka melihat rilis album debut Beyoncé, Dangerously in Love (2003), yang menetapkan dia sebagai artis solo di seluruh dunia, memperoleh lima Grammy Awards dan menampilkan Billboard Hot 100 nomor satu single &quot;Crazy in Love&quot; dan &quot;Baby Boy&quot; .

## Deep reading one of the data

In [ ]:
df_chopin = df_squad.loc[df_squad.title == 'Frédéric_Chopin']
df_chopin

             title                                         paragraphs
1  Frédéric_Chopin  [{'qas': [{'question': "What was Frédéric's na...

In [ ]:
chopin_context_0 = df_chopin['paragraphs'].iloc[0][0]['context']
df_chopin_context_0 = pd.DataFrame(df_chopin['paragraphs'].iloc[0][0]['qas'])
df_chopin_context_0.drop(columns=['id', 'is_impossible'], inplace=True)
df_chopin_context_0['answers'] = df_chopin_context_0['answers'].apply(lambda x: x[0]['text'])
print(chopin_context_0)
df_chopin_context_0

Frédéric François Chopin (/ˈʃoʊpæn/; French pronunciation: ​[fʁe.de.ʁik fʁɑ̃.swa ʃɔ.pɛ̃]; 22 February or 1 March 1810 – 17 October 1849), born Fryderyk Franciszek Chopin,[n 1] was a Polish and French (by citizenship and birth of father) composer and a virtuoso pianist of the Romantic era, who wrote primarily for the solo piano. He gained and has maintained renown worldwide as one of the leading musicians of his era, whose "poetic genius was based on a professional technique that was without equal in his generation." Chopin was born in what was then the Duchy of Warsaw, and grew up in Warsaw, which after 1815 became part of Congress Poland. A child prodigy, he completed his musical education and composed his earlier works in Warsaw before leaving Poland at the age of 20, less than a month before the outbreak of the November 1830 Uprising.

                                             question                     answers
0                  What was Frédéric's nationalities?           Polish and French
1                 In what era was Frédéric active in?                Romantic era
2   For what instrument did Frédéric write primari...                  solo piano
3                  In what area was Frédéric born in?             Duchy of Warsaw
4        At what age did Frédéric depart from Poland?                          20
5                          What year was Chopin born?                        1810
6                  What era was Chopin active during?                Romantic era
7                           Where did Chopin grow up?                      Warsaw
8          What instrument did he mostly compose for?                  solo piano
9               At what age did Chopin  leave Poland?                          20
10                               When did Chopin die?             17 October 1849
11                       What was Chopin's full name?  Fryderyk Franciszek Chopin
12  The majority of Chopin's compositions were for...                  solo piano
13                 Chopin was active during what era?                Romantic era
14                      In what year was Chopin born?                        1810
15           In what city was Chopin born and raised?                      Warsaw
16            How old was Chopin when he left Poland?                          20
17           In what era of music did Chopin compose?                    Romantic
18                          What year did Chopin die?                        1849

# Load Translated

In [3]:
SQUAD_DATASET_PATH = '../data/interim/train-v2.0-translated.json'

df_squad = pd.read_json(SQUAD_DATASET_PATH)
df_squad.head()

,title,paragraphs
0,Beyonce,[{'qas': [{'question': 'Kapan Beyonce mulai me...
1,Frédéric Chopin,[{'qas': [{'question': 'Bagaimana kewarganegar...
2,Hubungan Tiongkok-Tibet selama dinasti Ming,[{'qas': [{'question': 'Siapakah Wang Jiawei d...
3,IPod,[{'qas': [{'question': 'Perusahaan mana yang m...
4,The Legend of Zelda: Twilight Princess,[{'qas': [{'question': 'Apa kategori game Lege...

# Translate

In [138]:
from google.cloud import translate_v2 as translate

client = translate.Client()
def translate_to_id(text):
    return html.unescape(client.translate(text, target_language='id', source_language='en')['translatedText'])

In [143]:
df_squad_translated = df_squad.copy()
df_squad_dev_translated = df_squad_dev.copy()

In [ ]:
df_squad_translated['title'] = df_squad_translated['title'].apply(translate_to_id)
print(df_squad_translated.shape)
df_squad_translated.head()

                                           title                                         paragraphs
0                                        Beyonce  [{'qas': [{'question': 'When did Beyonce start...
1                                Frédéric Chopin  [{'qas': [{'question': "What was Frédéric's na...
2    Hubungan Tiongkok-Tibet selama dinasti Ming  [{'qas': [{'question': 'Who were Wang Jiawei a...
3                                           IPod  [{'qas': [{'question': 'Which company produces...
4         The Legend of Zelda: Twilight Princess  [{'qas': [{'question': 'What category of game ...
..                                           ...                                                ...
437                                      Infeksi  [{'qas': [{'question': 'Of the huge amount of ...
438                                      Berburu  [{'qas': [{'question': 'What is the practice o...
439                                    Kathmandu  [{'qas': [{'question': 'What country is Kathma...
440                               Infark miokard  [{'qas': [{'plausible_answers': [{'text': 'Myo...
441                                      Masalah  [{'qas': [{'plausible_answers': [{'text': 'ord...

[442 rows x 2 columns]

In [144]:
df_squad_dev_translated['title'] = df_squad_dev_translated['title'].apply(translate_to_id)
print(df_squad_dev_translated.shape)
df_squad_dev_translated.head()

,title,paragraphs
0,Normandia,[{'qas': [{'question': 'In what country is Nor...
1,Teori kompleksitas komputasi,[{'qas': [{'question': 'What branch of theoret...
2,California Selatan,[{'qas': [{'question': 'What is Southern Calif...
3,Sky (Kerajaan Inggris),[{'qas': [{'question': 'What company was forme...
4,Victoria (Australia),[{'qas': [{'question': 'What kind of economy d...
5,Huguenot,"[{'qas': [{'question': ""Where was France's Hug..."
6,Mesin uap,[{'qas': [{'question': 'Along with geothermal ...
7,Oksigen,[{'qas': [{'question': 'The atomic number of t...
8,Krisis minyak 1973,[{'qas': [{'question': 'When did the 1973 oil ...
9,Hukum Uni Eropa,[{'qas': [{'question': 'What is European Union...
10,hutan hujan Amazon,[{'qas': [{'question': 'Which name is also use...
11,Ctenophora,[{'qas': [{'question': 'What is a ctenophora?'...
12,"Fresno, California",[{'qas': [{'question': 'Which city is the fift...
13,Pergantian paket,[{'qas': [{'question': 'What did Paul Baran de...
14,Kematian kelam,[{'qas': [{'question': 'Where did the black de...
15,Geologi,[{'qas': [{'question': 'An igneous rock is a r...
16,Farmasi,[{'qas': [{'question': 'What word is the word ...
17,Pembangkangan sipil,[{'qas': [{'question': 'What is it called when...
18,Konstruksi,[{'qas': [{'question': 'What is the process of...
19,Sekolah swasta,[{'qas': [{'question': 'Along with non-governm...
20,Universitas Harvard,[{'qas': [{'question': 'What individual is the...
21,"Jacksonville, Florida",[{'qas': [{'question': 'Which Florida city has...
22,Ketimpangan ekonomi,[{'qas': [{'question': 'What percentage of glo...
23,Universitas Chicago,[{'qas': [{'question': 'What kind of universit...
24,Dinasti Yuan,[{'qas': [{'question': 'What is the Chinese na...
25,Sistem kekebalan,[{'qas': [{'question': 'The immune system prot...
26,Panel Antarpemerintah tentang Perubahan Iklim,[{'qas': [{'question': 'What organization is t...
27,bilangan prima,[{'qas': [{'question': 'What is the only divis...
28,Rhine,[{'qas': [{'question': 'Where does the Rhine e...
29,Parlemen Skotlandia,[{'qas': [{'question': 'When was the current p...
30,Islamisme,[{'qas': [{'question': 'What is an Islamic rev...
31,Imperialisme,"[{'qas': [{'question': ""The word imperialism h..."
32,Warsawa,[{'qas': [{'question': 'What is the largest ci...
33,Perang Perancis dan India,[{'qas': [{'question': 'When was the French an...
34,Memaksa,[{'qas': [{'question': 'What concept did philo...

In [145]:
SLEEP_TIME = 15

TRANSLATED_TOPIC_IDX = -1
TRANSLATED_CONTENT_IDX = -1
TRANSLATED_QA_IDX = -1

def save_wait_retranslate(target, translate_func, df, path):
    print(f'Limit exceeded.. Saving, then sleeping for {SLEEP_TIME} seconds...')
    df.to_json(path)
    time.sleep(SLEEP_TIME)
    target = translate_func(target)

In [151]:
def translate_df_to_id(df_squad, path, translated_idx:tuple):
    TRANSLATED_TOPIC_IDX = translated_idx[0]
    TRANSLATED_CONTENT_IDX = translated_idx[1]
    TRANSLATED_QA_IDX = translated_idx[2]
    
    i = 0
    for topic in df_squad['paragraphs']:
        print(f'Now translating {i}')
        if i <= TRANSLATED_TOPIC_IDX:
            print(f'Topic {i} translated. Skipping...')
            i += 1
            continue
        j = 0
        for paragraphs in topic:
            if j <= TRANSLATED_CONTENT_IDX:
                print(f'Paragraph {j} translated. Skipping...')
                j += 1
                continue
            k = 0
            for qas in paragraphs['qas']:
                if k <= TRANSLATED_QA_IDX:
                    print(f'Qa {k} translated. Skipping...')
                    k += 1
                    continue

                try:
                    qas['question'] = translate_to_id(qas['question'])
                except:
                    TRANSLATED_TOPIC_IDX = i-1
                    TRANSLATED_CONTENT_IDX = j-1
                    TRANSLATED_QA_IDX = k-1
                    translated_idx = (TRANSLATED_TOPIC_IDX, TRANSLATED_CONTENT_IDX, TRANSLATED_QA_IDX)
                    save_wait_retranslate(qas['question'], translate_to_id, df_squad, path)

                plausible_answers = qas.get('plausible_answers')
                if plausible_answers is None:
                    for answer in qas['answers']:
                        try:
                            answer['text'] = translate_to_id(answer['text'])
                        except:
                            TRANSLATED_TOPIC_IDX = i-1
                            TRANSLATED_CONTENT_IDX = j-1
                            TRANSLATED_QA_IDX = k-1
                            translated_idx = (TRANSLATED_TOPIC_IDX, TRANSLATED_CONTENT_IDX, TRANSLATED_QA_IDX)
                            save_wait_retranslate(answer['text'], translate_to_id, df_squad, path)
                else:
                    for plausible_answer in qas['plausible_answers']:
                        try:
                            plausible_answer['text'] = translate_to_id(plausible_answer['text'])
                        except:
                            TRANSLATED_TOPIC_IDX = i-1
                            TRANSLATED_CONTENT_IDX = j-1
                            TRANSLATED_QA_IDX = k-1
                            translated_idx = (TRANSLATED_TOPIC_IDX, TRANSLATED_CONTENT_IDX, TRANSLATED_QA_IDX)
                            save_wait_retranslate(plausible_answer['text'], translate_to_id, df_squad, path)
                k += 1
            TRANSLATED_QA_IDX = -1
            try:
                paragraphs['context'] = translate_to_id(paragraphs['context'])
            except:
                TRANSLATED_TOPIC_IDX = i-1
                TRANSLATED_CONTENT_IDX = j-1
                TRANSLATED_QA_IDX = k-1
                translated_idx = (TRANSLATED_TOPIC_IDX, TRANSLATED_CONTENT_IDX, TRANSLATED_QA_IDX)
                save_wait_retranslate(paragraphs['context'], translate_to_id, df_squad, path)
            j += 1
        TRANSLATED_CONTENT_IDX = -1
        i += 1

In [176]:
TRAIN_SAVE_PATH = '../data/interim/train-v2.0-translated.json'
DEV_SAVE_PATH = '../data/interim/dev-v2.0-translated.json'

translated_idx = (23, -1, -1)
print(translated_idx)

# try:
#     translate_df_to_id(df_squad_translated, TRAIN_SAVE_PATH, translated_idx)
# except Exception as e:
#     print(e)
# finally:
#     df_squad_translated.to_json(TRAIN_SAVE_PATH)
    
try:
    translate_df_to_id(df_squad_dev_translated, DEV_SAVE_PATH, translated_idx)
except Exception as e:
    print(e)
finally:
    df_squad_dev_translated.to_json(DEV_SAVE_PATH)

(23, -1, -1)
Now translating 0
Topic 0 translated. Skipping...
Now translating 1
Topic 1 translated. Skipping...
Now translating 2
Topic 2 translated. Skipping...
Now translating 3
Topic 3 translated. Skipping...
Now translating 4
Topic 4 translated. Skipping...
Now translating 5
Topic 5 translated. Skipping...
Now translating 6
Topic 6 translated. Skipping...
Now translating 7
Topic 7 translated. Skipping...
Now translating 8
Topic 8 translated. Skipping...
Now translating 9
Topic 9 translated. Skipping...
Now translating 10
Topic 10 translated. Skipping...
Now translating 11
Topic 11 translated. Skipping...
Now translating 12
Topic 12 translated. Skipping...
Now translating 13
Topic 13 translated. Skipping...
Now translating 14
Topic 14 translated. Skipping...
Now translating 15
Topic 15 translated. Skipping...
Now translating 16
Topic 16 translated. Skipping...
Now translating 17
Topic 17 translated. Skipping...
Now translating 18
Topic 18 translated. Skipping...
Now translating 19
Topic 19 translated. Skipping...
Now translating 20
Topic 20 translated. Skipping...
Now translating 21
Topic 21 translated. Skipping...
Now translating 22
Topic 22 translated. Skipping...
Now translating 23
Topic 23 translated. Skipping...
Now translating 24
Now translating 25
Now translating 26
Now translating 27
Now translating 28
Now translating 29
Now translating 30
Now translating 31
Now translating 32
Now translating 33
Now translating 34

In [171]:
total_length = 0

i = 0
for topic in df_squad_dev_translated['paragraphs']:
    if i <= 9:
        i += 1
        continue
    for paragraphs in topic:
        for qas in paragraphs['qas']:
            total_length += len(qas['question'])
            plausible_answers = qas.get('plausible_answers')
            if plausible_answers is None:
                for answer in qas['answers']:
                    total_length += len(answer['text'])
            else:
                for plausible_answer in qas['plausible_answers']:
                    total_length += len(plausible_answer['text'])
        total_length += len(paragraphs['context'])
    i += 1

print(total_length)

1580139

In [177]:
# df_squad_translated.to_json(TRAIN_SAVE_PATH)
df_squad_dev_translated.to_json(DEV_SAVE_PATH)

In [181]:
# for i in range(len(df_squad_translated.iloc[379]['paragraphs'])):
#     print(df_squad_translated.iloc[379]['paragraphs'][i]['context'])
#     print()
# df_squad_translated.iloc[-1]['paragraphs'][-1]

df_squad_translated.iloc[-1]['paragraphs'][-1]

{'qas': [{'plausible_answers': [{'text': 'masalah', 'answer_start': 485}],
   'question': 'Fisika telah secara luas menyetujui definisi apa?',
   'id': '5a7e070b70df9f001a875439',
   'answers': [],
   'is_impossible': True},
  {'plausible_answers': [{'text': 'Alfv', 'answer_start': 327}],
   'question': 'Siapa yang menciptakan istilah materi partonik?',
   'id': '5a7e070b70df9f001a87543a',
   'answers': [],
   'is_impossible': True},
  {'plausible_answers': [{'text': 'Gk. masalah umum', 'answer_start': 350}],
   'question': 'Apa nama lain untuk anti-materi?',
   'id': '5a7e070b70df9f001a87543b',
   'answers': [],
   'is_impossible': True},
  {'plausible_answers': [{'text': 'pengubah yang menentukan',
     'answer_start': 529}],
   'question': 'Materi biasanya tidak perlu digunakan bersamaan dengan apa?',
   'id': '5a7e070b70df9f001a87543c',
   'answers': [],
   'is_impossible': True},
  {'plausible_answers': [{'text': 'fisika', 'answer_start': 37}],
   'question': 'Bidang studi apa yang memiliki beragam konteks yang tidak biasa?',
   'id': '5a7e070b70df9f001a87543d',
   'answers': [],
   'is_impossible': True}],
 'context': 'Istilah "materi" digunakan di seluruh fisika dalam beragam konteks yang membingungkan: misalnya, seseorang merujuk pada "fisika benda terkondensasi", "materi dasar", "materi partonik", "materi gelap", "anti" -matter, " "materi" dan "nuklir" yang aneh. Dalam diskusi tentang materi dan antimateri, materi normal telah disebut oleh Alfven sebagai koinomatter (Gk. Common matter). Adalah adil untuk mengatakan bahwa dalam fisika, tidak ada konsensus luas mengenai definisi umum materi, dan istilah "materi" biasanya digunakan bersama dengan pengubah yang menentukan.'}

In [23]:
df_squad_translated = pd.read_json('../data/interim/train-v2.0-translated.json')
print(df_squad['paragraphs'][0][0]['qas'][-2]['question'])
print(df_squad_translated['paragraphs'][0][0]['qas'][-2]['question'])

What was Beyoncé's role in Destiny's Child?
Apa peran Beyonce dalam Destiny's Child?

In [17]:
df_squad['paragraphs'][topic_idx][context_idx]['qas'][0]

{'question': 'At what age did Frédéric move to Paris?',
 'id': '56cbd2f96d243a140015ed70',
 'answers': [{'text': '21', 'answer_start': 14}],
 'is_impossible': False}